
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
  font-family: 'Tomorrow', sans-serif;
  @media (min-width: 1281px) {
		font-size: 24px;
	}

	@media (max-width: 1280px) and (min-width: 601px) {
		font-size: 16px;
	}

	@media (max-width: 600px) {
		font-size: 12px;
  }
  background-color: #F0F0F0;
  background-image: url('../img/header-background.png'), url('../img/header-background.png'), url('../img/header-background.png');
  background-size: 200px 650px, 200px 750px, 200px 750px;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom 600px left -100px, top 650px right 4rem, bottom 1200px right -100px;
  @media (max-width: 768px) {
    background-image: none;
  }
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 300px;
  max-width: 1800px;
  margin: 0 auto;
  height: 100%;
  z-index: 0;
}
.stop-scrolling {
  height: 100vh;
  overflow: hidden;
}

.container {
  margin-top: 100px;
}


.slide-enter {
  transform: translateY(-100%);
}

.slide-enter.slide-enter-active {
  transform: translateY(0);
  transition: transform 2000ms ease;
}

.slide-enter-done {
  transform: translateY(0);
}

.slide-exit {
  opacity: 0;
}

.slide-exit.slide-exit-active {
  transition: transform 2000ms linear opacity 2000ms ease 2000ms;
  transform: translateY(100%);
  opacity: 1;
}

.slide-exit-done {
  transform: translateY(100%);
  opacity: 1;
}



.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  transition: opacity 1000ms linear;
  opacity: 1;
}

.fade-appear-done {
  opacity: 1;
}

